<!-- Navbar-->
<header class="navbar navbar-sticky navbar-dark bg-dark">
  <l-virtual-header-search-tool></l-virtual-header-search-tool>

  <div class="site-branding">
    <div class="inner">
      <!-- Site Logo-->
      <l-virtual-header-logo></l-virtual-header-logo>
    </div>
  </div>

  <!-- Main Navigation-->
  <l-virtual-header-navigation></l-virtual-header-navigation>

  <!-- Toolbar-->
  <div class="toolbar">
    <div class="inner">
      <div class="tools">

        <l-virtual-toolbar-search></l-virtual-toolbar-search>

        <l-virtual-toolbar-account></l-virtual-toolbar-account>

        <l-virtual-toolbar-cart></l-virtual-toolbar-cart>
      </div>
    </div>
  </div>
</header>
