<div class="account">
    <a href="http://localhost:4200/account-orders.html"></a>
    <i class="icon-head"></i>
    <ul class="toolbar-dropdown">

      <li class="sub-menu-user">

        <div class="user-ava">
          <img src="./assets/images/jpg/user-01-sm.jpg" alt="Daniel Adams">
        </div>

        <div class="user-info">
          <h6 class="user-name">Tiburssinho</h6>
          <!-- <span class="text-xs text-muted">xxx pontos acumulados</span> -->
        </div>
      </li>

      <li>
        <a href="http://localhost:4200/account-profile.html">Perfil</a>
      </li>

      <li>
        <a href="http://localhost:4200/account-orders.html">Pedidos</a>
      </li>

      <li>
        <a href="http://localhost:4200/account-wishlist.html">Lista de desejos</a>
      </li>

      <li class="sub-menu-separator"></li>

      <li>
        <a href="http://localhost:4200/home-dark-header.html#">
          <i class="icon-unlock"></i>
          Sair
        </a>
      </li>
    </ul>
  </div>